<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 
            <% if (theme.plugins.busuanzi) { %>
                <span id="busuanzi_container_site_pv"><i class="fa fa-heart"></i> : <span id="busuanzi_value_site_pv"></span></span> 
                <span id="busuanzi_container_site_uv"><i class="fa fa-user-circle-o"></i> : <span id="busuanzi_value_site_uv"></span></span>
            <% } %>
            </br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>
        </div>
    </div>
</footer>